body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffe6f2; /* Light pink background */
}

header {
  background-color: #ff99cc; /* Pink header */
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
}

.main-button, .sub-button {
  background-color: #ff66b2; /* Pink button */
  color: white;
  padding: 15px 30px;
  border: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.main-button:hover, .sub-button:hover {
  background-color: #e0559c; /* Darker pink on hover */
}

.hidden {
  display: none;
}

#imageDisplay img {
  margin-top: 20px;
  width: 300px;
  border: 5px solid #ff99cc;
  border-radius: 10px;
}

footer {
  margin-top: 20px;
  color: #6c757d;
  font-size: 14px;
}

#carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.carousel-button {
  background-color: #ff66b2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 0 10px;
}

.carousel-button:hover {
  background-color: #e0559c;
}

#carouselImage {
  width: 400px;
  height: auto;
  border: 5px solid #ff99cc;
  border-radius: 10px;
}

